/* Style untuk container */
.container {
    margin: 50px auto;
    width: 100%;
    background-color: black;
}

/* Style untuk judul */
h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Style untuk form */
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style untuk label */
label {
    font-weight: bold;
}

/* Style untuk input */
.form-input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style untuk file input */
input[type="file"] {
    display: none;
}

/* Style untuk tombol pilih gambar */
.file-upload {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.file-upload:hover {
    background-color: #45a049;
}

/* Style untuk gambar pratinjau */
.img-thumbnail {
    margin-top: 10px;
    border-radius: 5px;
}

/* Style untuk tombol submit */
.form-submit {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.form-submit:hover {
    background-color: #005f78;
}

